/* Base styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.content-wrapper {
    position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
    z-index: 1; /* Asegura que el contenido esté sobre el fondo desenfocado */
    background-color: transparent; /* Fondo transparente */
    padding: 20px; /* Ajusta el espacio interior según sea necesario */
}

.content-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('core/utils/images/fondo_5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Coloca el fondo detrás del contenido */
}

/* Container */
.container {
    width: 70%;
    margin: auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.9);;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.main_container {
    width: 65%;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Header styles */
header {
    background-color: transparent;
    color: #555;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #B6C409;
}

header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

/* Main content styles */
.news-list {
    list-style-type: none;
    padding: 0;
}

.news-item {
    margin-bottom: 100px;
}

.news-title {
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center;
}

.news-text {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 10px;
    color: #666;
}

.news-meta {
    font-size: 14px;
    color: #999;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los elementos a la derecha */
}

.news-meta .date {
    margin-bottom: 20px;
}

.news-meta .source a {
    color: #0066cc;
    text-decoration: none;
}

.news-meta .source a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 50px;
    padding: 50px 0;
    background-color: #f0f0f0;
}

footer .goodbye {
    color: #fff;
    font-size: 16px;
}