<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Laissez faire, laissez passer - Newsletter semanal</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="content-wrapper">
        <header>
        <div class="container">
            <h1>Laissez faire, laissez passer</h1>
            <h2>Newsletter semanal</h2>
        </div>
    </header>
    <main class="main_container">
        <ul class="news-list">
            <li class="news-item">
                <h3 class="news-title">Título de la noticia</h3>
                <p class="news-text">Texto de la noticia.</p>
                <div class="news-meta">
                    <span class="date">25 de Junio de 2024</span>
                    <span class="source">Fuente: <a href="https://www.example.com">Link 1</a></span>
                </div>
            </li>

            <!-- ADD ALL THE OTHER NEWS ITEMS HERE USING THE SAME FORMAT AS THE EXAMPLE ABOVE -->
        </ul>
    </main>
    <footer class="container">
        <p class="goodbye">¡Hasta la siguiente edición!</p>
    </footer>
</body>
</html>
